# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
.env
ausrangiert.py

# uv
.uv/
#project.toml
#uv.lock 

# Git
.git/
.gitignore
.github/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore

# Documentation
#README.md - it breaks the uv sync if ignored
docs/

# Tests
tests/
*.test.py

# Log Files
*.log
data/logs/*.log

# config
data/config/station_rules.yaml
config/

# appdata folder
/appdata/